@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Link to Grade Calculator";
    ViewBag.UpperTitle = "AbbyWake";


}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/main.css" rel="stylesheet" />
    <p>my nickname is @ViewBag.UpperTitle</p>
</head>

<center>
    <body class="bgcolor">
        <h1>Abby Wakefield</h1>
        <div class="container">
            <img class="size-hell" src="images/amigos.JPG" />
        </div>
        <br />
        <p>
            If I'm being completely honest, I'm not even sure what we are going to learn in this class.
            So I hope to understand not only what the topics are, but how to do all of the topics!
        </p>
        <br />
        <p>Top 3 jobs I am interested in after graduation:   </p>
        <ul class="quiz-props">
            <li>1. Data Analyst </li>
            <li>2. Cyber Security  </li>
            <li>3. 1950's house wife</li>
        </ul>
        <h1>Please enter the total percentage from each course that you ended up with </h1>
        @*<form>
            <label>Assignments: (out of 50%) </label>
            <input id="assignment" />
            <br />
            <label>Group Projects: (out of 10%) </label>
            <input id="email" />
            <br />
            <label>Quizzes: (out of 10%) </label>
            <input id="quiz" />
            <br />
            <label>Exams: (out of 20%) </label>
            <input id="exam" />
            <br />
            <label>Intex: (out of 10%) </label>
            <input id="intex" />
            <br />
            <br />
            <input type="submit" value="Submit Button" id="submit" />

        </form>*@

    </body>
</center>
</html>